# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.Po
*.Plo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.deps/
autoscan-2.69.log
aclocal.m4
config.h.in~
install-sh
Makefile.in
stamp-h1
compile
config.log
configure.scan
missing
autom4te.cache
config.status
depcomp
Makefile
config.h.in
pkg/
.vscode/
.dirstamp
libtool
config.sub
ltmain.sh
config.guess
tempCodeRunnerFile
out
taki/
ar-lib
config.h
configure
m4/
dist/
test/
